VITE_API_URL=http://localhost:5001/api
VITE_STOREFRONT_URL=http://localhost:3000
VITE_PORT=3001
VITE_PREVIEW_PORT=4173
VITE_HOST=0.0.0.0
VITE_YOUTUBE_EMBED_BASE_URL=https://www.youtube-nocookie.com/embed
VITE_VIMEO_EMBED_BASE_URL=https://player.vimeo.com/video
